@charset "utf-8";
@import url("reset.css");
/* CSS Document */


body{ background-color:#fefefe; font-size:13px; color:#353535; letter-spacing:1px; line-height:19px; font-family:"新細明體", Arial, Helvetica, sans-serif;}
a{ text-decoration:none; color:#353535; outline:none;}
a:hover{ text-decoration:underline;}

.wrapper{ width:980px; margin:0 auto; background-color:#fff; padding:0px;
		  -webkit-box-shadow: #999 0px -3px 10px;
		     -moz-box-shadow: #999 0px -3px 10px;
		          box-shadow: #999 0px -3px 10px;
				  behavior: url(htc/PIE.htc);}
				  
.header{ width:980px;}
.logobox{ width:100%; font-size:43px; font-family:Arial, Helvetica, sans-serif; background-color:#999; text-align:center; line-height:25px; margin:0px 0px 0px 0px; padding:40px 0px 40px 0px;}
.main_nav{ padding:10px 10px; width:670px; float:left; }
.main_nav select{ vertical-align:middle; margin:0px 3px;} 
.main_nav input{ vertical-align:middle;margin:0px 3px;}

.main_navbox{float:left; margin:0px 15px 5px 0px;} 


.container{ width:980px; }
.rightsider{ float:right; width:255px; padding:0px 10px 0px 10px;  
			 background-color:#e2e2e2; border-bottom:dotted 1px #CCC; border-top: dashed 1px #ccc;}
.rightlistbox{}
.rightlistbox h3{ background:#999; text-align: center;} 

.loginbox{ padding:8px;}
.loginbox td{ padding:3px 1px; }
.loginbox td img{ margin:0px 5px; vertical-align:middle;}
.loginlink{ display:inline; font-size:11px; padding:5px 0px 10px 0px;}

.adroom{ margin:15px 0px 25px; border:1px #aaa solid; }
.tagroom{ background:#FFF; padding:5px 10px; border:1px #aaa solid;text-align: justify; text-justify:inter-ideograph;
		 margin:0px 0px 25px;}



.content{ float:left; width:670px; padding:0px 15px 0px 15px;}

.mainbox{ padding:0px 0px 10px 0px;}
h3.titlebar{ font-size:15px; line-height:23px; padding:18px 0px 10px 0px;}
.mainlist{ padding-bottom:8px;}
.mainlist ul{ font-size:15px;}
.mainlist ul li{ line-height:21px; padding:10px 0px 10px 0px;font-size:13px; border-bottom:1px dotted #ccc;}
span.datetxt{ display:block; width:66px; float:left; padding-right:8px; font-size:13px; color:#666;}
.mainlist ul li a{ display:block; margin-left:5px;float:left; max-width:580px;}
.listbox{ padding:0px 0px 15px 0px;}
.imgbox{ float:left; width:140px; height:90px; border:1px solid #666; padding:5px; margin:0px 10px 0px 0px; _display:inline; background-color:#FFF;}
.imgbox img{ width:140px; height:90px;}
.txtbox{}
.txtbox p{}
h4.title{ font-size:15px; line-height:23px; padding:0px 0px 8px 0px;}
p.datetxt{ color:#666; font-size:11px; padding:0px 0px 5px 0px;}
.listbox_straight{ width:175px; float:left; padding:0px 8px 0px 18px;}
.listbox_straight .imgbox{ float:none; margin:0px auto 8px auto; _display:inline;}

.backbar{ font-weight:normal; float:right; font-size:12px; color:#215da9;}
.upcontbox{ padding:0px 0px 15px 0px; margin:0px 0px 10px 0px; border-bottom:1px solid #999;}
.upcontbox .imgbox{ width:280px; height:180px; border:1px solid #666;}
.upcontbox .imgbox img{ width:280px; height:180px;}
.description{}
h1.topic{ font-size:21px; line-height:28px; padding:0px 0px 12px 0px;}
.editbox{ width:800px; height:100px; padding:5px 5px 0px 5px; background-color:#996;}
.editbox img{ max-width:750px;}
.editbox table{ max-width:750px;}

.leftimg{ float:left; width:305px;}
.leftimg .imgbox{ float:none;}
.right_description{ float:left; width:505px;}
.right_description ul li{ line-height:19px; padding:0px 0px 3px 0px;}
.right_description ul li span{ float:left; padding:0px 8px 0px 0px;}
.right_description ul li span.txt{ width:430px; word-wrap:break-word;}
.rednum{ color:#C00; font-family:Arial, Helvetica, sans-serif;}
.rednum_b{ font-weight:bold; color:#C00; font-size:14px; font-family:Arial, Helvetica, sans-serif;}
.remarktxt{ padding:10px 10px 0px 0px; line-height:21px;}
.otherbox{ padding:15px 0px 0px 0px;}


.footer{ clear:both; width:980px;  padding:15px 0px 10px; text-align:center; background:#efefef;}




/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/


.path{ font-size:13px ; font-weight:100;}
.searchlisttag{ width:580px; padding-left:80px;  background:#ececec; font-size:12px; margin-bottom:3px;}
.searchlisttag b{ padding-right:5px; font-size:13px;  font-family:Arial, Helvetica, sans-serif;}








.searchlisttagroom{ padding-bottom:8px;}
.searchlisttagroom ul{ font-size:15px;}
.searchlisttagroom ul li{line-height:21px; padding:10px 0px 0px 0px; margin-bottom:15px;font-size:13px; border-bottom:1px dotted #ccc;}
.searchlisttagroom ul li a{ display: inline; margin-left:0px;float: none; max-width: none;}
.searchlisttagroom ul li a.searchlist{ display:block; margin-left:0px;float: left; max-width:580px;}




.logoutbox{ padding:8px;}
.logoutbox td{ padding:3px;}
.logoutbox td img{ margin:0px 5px; vertical-align:middle;}
.logoutboxlink{ display:inline; font-size:11px; padding:5px 0px 10px 0px;}



.editroom select{ vertical-align:middle; margin:0px 3px;} 
.editroom input{ vertical-align:middle;margin:0px 3px;}
.editroom textarea{ vertical-align:middle;margin:0px 3px;}

.editroom2{ border:#CCC 1px solid; padding:10px;}
.editroom2 td{ padding:5px 3px;}
.editroom2 span{ font-size:11px;}

.hrclocr{ border:none; border-bottom:#CCC 1px solid; margin:15px 0px;}



.datebox{ font-size:13px; font-weight:100; padding-right:8px; display:block;}

.historycontroom{ margin-top:5px;}
	.imgbox2{ padding:1px; border:1px #ccc solid; width:240px; height:180px; margin:0px 15px 8px 0px; float:left;}
	.historycontroom p{ text-indent:2em; padding-bottom:10px; line-height:20px;text-align: justify; text-justify:inter-ideograph;}

.intotitlebar{ font-size:25px; line-height:23px; padding:0px 0px 10px 0px;}

.small{ font-size:11px; font-weight:100;}

.maintitle{ font-size:21px; padding-right:3px;}
.mainimgbox{padding:1px; border:1px #ccc solid; width:600px;margin:5px auto 8px auto;}
.mainimgbox img{width:600px; height:250px;}

span.datetxt2{ display:block; width:100px; float:left; padding-right:8px; font-size:13px; color:#666;}




.mainlist8{ padding-bottom:8px;}
.mainlist8 ul{ font-size:15px;}
.mainlist8 ul li{ line-height:21px; padding:10px 0px 10px 0px;font-size:13px; border-bottom:1px dotted #ccc;}
.mainlist8 ul li a{ display:block; margin-left:5px;float:left; max-width:420px;}

.trmainstyle{ background:#fafafa;}

























